.footer {
    max-width: $mainWidth;
    min-height: 56px;
    background-color: $backgroundColorLighter;

    .content-width {
        max-width: $contentWidth;
        margin: 0 auto;
        padding: 0 15px;

        .col-sm-6 {
            margin-top: 23px;
            padding: 0;
        }

        .col-sm-6:nth-of-type(1) {
            font-size: 13px;
            color: #b5b7b9;
            @media #{$mobileWidth} {
                text-align: center;
            }
        }

        .col-sm-6:nth-of-type(2) {
            text-align: right;

            a:nth-of-type(2) {
                margin: 0 14px;
            }
            @media #{$mobileWidth} {
                .social {
                    width: 81px;
                    margin: 0 auto 23px;
                }
            }
        }
    }
}
