body {
    font-family: $mainFont;

    header {
        .container {
            max-width: $mainWidth;
            background-image: url('images/Layer7.png');
            background-size: cover;
            background-color: #2E8B57;
            padding-top: 47px;

            .content-width {
                max-width: $contentWidth;
                margin: 0 auto;

                .header-logo {
                    text-decoration: none;
                    color: white;
                    font-size: 52px;
                    font-family: 'Pacifico', serif;
                }

                .menu {
                    margin-top: 28px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 13px;
                        font-family: 'open sans', sans-serif;
                        margin: 0 17px;
                    }
                }

                .col-sm-3 {
                    max-width: 15%;
                    padding: 0;
                    @media #{$mobileWidth} {
                        margin: 5px auto;
                        max-width: none;
                    }
                }

                .col-sm-3:nth-of-type(1) {
                    margin-left: 116px;
                    @media #{$mobileWidth} {
                        margin-left: 0;
                    }
                }
            }

            p:nth-of-type(1) {
                text-transform: uppercase;
                font-size: 53px;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                font-weight: 800;
                margin-top: 55px;
                letter-spacing: 1px;
            }

            p:nth-of-type(2) {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 800;
                color: white;
                margin-top: 20px;
            }

            button {
                background-color: $mainColor;
                color: white;
                font-size: 15px;
                font-weight: 800;
                text-transform: uppercase;
                border: none;
                border-radius: 30px;
                height: 48px;
                width: 234px;
                margin: 77px 11px 121px 0;
                outline: none;
            }
        }
    }
}
