.templates {
    min-height: 528px;
    max-width: $mainWidth;
    background-color: $backgroundColorLighter;

    .content-width {
        max-width: $contentWidth;
        margin: 0 auto;
        padding: 0 15px;

        .templates-row {
            margin-top: 67px;
            padding: 0;
            @media (max-width: 767px) {
                text-align: center;
            }

            img {
                @media (max-width: 767px) {
                    margin: 0 auto;
                }
            }

            .templates-title {
                font-size: 18px;
                font-weight: 800;
                text-transform: uppercase;
                margin-top: 40px;
            }

            hr {
                width: 263px;
                @media (max-width: 767px) {
                    margin: 1em auto;
                }
            }

            .templates-description {
                font-size: 14px;
                margin-top: 29px;
                line-height: 23px;
            }

            button {
                font-size: 14px;
                color: white;
                height: 34px;
                width: 98px;
                border: none;
                border-radius: 15px;
                background-color: $mainColor;
                margin-top: 31px;
                outline: none;
            }
        }

        .templates-row:nth-of-type(2) {
            padding-left: 30px;
            @media (max-width: 767px) {
                padding: 0;
                margin-bottom: 67px;
            }
        }
    }
}
