.support {
    min-height: 328px;
    max-width: $mainWidth;
    background-color: $backgroundColorDarker;

    .content-width {
        max-width: $contentWidth;
        margin: 0 auto;
        padding: 0 15px;
        @media #{$mobileWidth} {
            text-align: center;
        }

        .support-title {
            img {
                margin: 59px 11px 0 2px;
                position: relative;
                top: 4px;
            }

            h1 {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 800;
                display: inline-block;
            }
        }

        .support-description {
            font-size: 14px;
            margin: 23px 0 0 3px;
            line-height: 23px;
        }

        button {
            width: 97px;
            height: 34px;
            background-color: #d2d5da;
            border: none;
            border-radius: 15px;
            margin-top: 31px;
            color: white;
            font-size: 14px;
            outline: none;
        }
    }
}
