.featured {
    max-width: $mainWidth;
    min-height: 221px;
    background-color: $mainColor;
    color: white;

    .content-width {
        max-width: $contentWidth;
        margin: 0 auto;
        padding: 0 15px;

        .featured-row {
            margin-top: 50px;

            img {
                margin: 0 4px 0 11px;
            }

            h1 {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 800;
                display: inline-block;
            }

            hr {
                background-color: #61c8b6;
            }

            .col-sm-3 {
                font-size: 26px;
                padding: 0;
            }

            .col-sm-3:nth-of-type(1) {
                font-family: 'Pacifico', serif;
                text-align: left;
                @media (max-width: 767px) {
                    text-align: center;
                }
            }

            .col-sm-3:nth-of-type(4) {
                font-weight: 800;
                text-align: right;
                @media (max-width: 767px) {
                    text-align: center;
                    margin-bottom: 50px;
                }
            }
        }

        .featured-row:nth-of-type(2) {
            margin-top: 31px;
        }
    }
}
