.modules {
    min-height: 440px;
    max-width: $mainWidth;
    background-color: $backgroundColorLighter;

    .content-width {
        max-width: $contentWidth;
        margin: 0 auto;
        padding: 0 15px;

        .modules-row {
            margin-top: 59px;
            padding: 0;
            @media #{$mobileWidth} {
                text-align: center;
            }
        }

        img {
            @media #{$mobileWidth} {
                margin: 0 auto;
            }
        }

        .modules-row:nth-of-type(2) {
            padding-left: 10px;
            @media #{$mobileWidth} {
                padding: 0;
            }
        }

        .modules-row:nth-of-type(3) {
            padding-left: 16px;
            @media #{$mobileWidth} {
                padding: 0;
                margin-bottom: 59px;
            }
        }

        h1 {
            margin-top: 38px;
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
        }

        hr {
            width: 180px;
            @media #{$mobileWidth} {
                margin: 1em auto;
            }
        }

        .modules-description {
            margin: 22px 0;
            font-size: 14px;
        }

        a {
            font-size: 14px;
            color: $mainColor;
        }
    }
}
