$mainColor: #50c3af;
$backgroundColorDarker: #eeeeef;
$backgroundColorLighter: #f5f5f5;
$mainWidth: 800px;
$contentWidth: 590px;
$fontColor: #787b80;
$mainFont: 'PT Sans', sans-serif;
$mobileWidth: "(max-width: 767px)";
